streamlit
langchain
langchain-community>=0.0.21
langchain-core
langchain-groq
langchain-chroma
chromadb
langchain-text-splitters
python-dotenv
pypdf
sentence-transformers
langchain-huggingface
fastapi
uvicorn
python-multipart
redis
jose
boto3
pinecone-client==2.2.4
PyPDF2>=3.0.0
